<template>
    <md-card>
        <md-card-header class="md-card-header-icon md-card-header-green">
            <div class="card-icon">
                <md-icon>person</md-icon>
            </div>
            <h4 class="title">Listado de Usuarios</h4>
        </md-card-header>
        <md-card-content>
            <div class="text-right">
                <md-button class="md-primary md-dense">
                    Agregar nuevo usuario
                    <md-icon>add</md-icon>
                </md-button>
            </div>
            <md-table
                :value="table"
                class="paginated-table table-striped table-hover"
                style="margin-top: 20px !important"
            >
                <!-- <md-table-toolbar>
                    <md-field>
                        <label>Per page</label>
                        <md-select v-model="pagination.perPage" name="pages">
                            <md-option
                                v-for="item in pagination.perPageOptions"
                                :key="item"
                                :label="item"
                                :value="item"
                            >
                                {{ item }}
                            </md-option>
                        </md-select>
                    </md-field>
                </md-table-toolbar> -->

                <md-table-row slot="md-table-row" slot-scope="{ item }">
                    <md-table-cell md-label="Name" md-sort-by="name">{{ item.name }}</md-table-cell>
                    <md-table-cell md-label="Email" md-sort-by="email">{{ item.email }}</md-table-cell>
                    <md-table-cell md-label="Created At" md-sort-by="created_at">{{ item.created_at }}</md-table-cell>
                    <md-table-cell md-label="Actions">
                        <md-button
                            class="md-icon-button md-raised md-round md-info"
                            @click="onProFeature"
                            style="margin: 0.2rem"
                        >
                            <md-icon>edit</md-icon>
                        </md-button>
                        <md-button
                            class="md-icon-button md-raised md-round md-danger"
                            @click="onProFeature"
                            style="margin: 0.2rem"
                        >
                            <md-icon>delete</md-icon>
                        </md-button>
                    </md-table-cell>
                </md-table-row>
            </md-table>
        </md-card-content>

        <md-card-actions md-alignment="space-between">
            <div class="">
                <p class="card-category">Showing {{ from + 1 }} to {{ to }} of {{ total }} entries</p>
            </div>
            <pagination
                class="pagination-no-border pagination-success"
                v-model="pagination.currentPage"
                :per-page="pagination.perPage"
                :total="total"
            />
        </md-card-actions>
    </md-card>
</template>

<script>
import Pagination from "@/components/Pagination";
export default {
    components: {
        pagination: Pagination,
    },

    data: () => ({
        table: [],
        query: null,
        sortation: {
            field: "created_at",
            order: "asc",
        },
        pagination: {
            perPage: 5,
            currentPage: 1,
            perPageOptions: [5, 10, 25, 50],
        },

        total: 1,
    }),

    computed: {},

    mounted() {
        this.getList();
    },

    methods: {
        async getList() {
            try {
                const ruta = "/usuario";
                const response = await this.apiService.get(ruta);
                console.log(response);
            } catch (error) {
                console.error(error);
            }

            this.table = [
                {
                    name: "Admin",
                    email: "admin@jsonapi.com",
                    created_at: "2020-01-01",
                },
            ];
        },
    },
};
</script>

<style></style>
