<template>
    <div class="md-layout">
        <div class="md-layout-item md-size-100">
            <UsersList />
        </div>
    </div>
</template>

<script>
import UsersList from "@/components/configuracion/users/UsersList";

export default {
    components: {
        UsersList,
    },
};
</script>
<style></style>
