<template>
    <div class="wrapper" :class="[{ 'nav-open': $sidebar.showSidebar }, { rtl: $route.meta.rtlActive }]">
        <notifications></notifications>
        <side-bar
            :active-color="sidebarBackground"
            :background-image="sidebarBackgroundImage"
            :data-background-color="sidebarBackgroundColor"
        >
            <user-menu></user-menu>
            <mobile-menu></mobile-menu>

            <template v-for="(row, index) in getMenu" slot="links">
                <sidebar-item
                    v-if="!row.hijos"
                    :key="index"
                    :link="{
                        name: row.page.name,
                        icon: 'dashboard',
                        path: row.page.route,
                    }"
                />

                <sidebar-item v-else :key="index" :link="{ name: row.page.name, image: image }">
                    <sidebar-item
                        v-for="(row2, index2) in row.hijos"
                        :key="index2"
                        :link="{
                            name: row2.page.name,
                            path: row2.page.route,
                        }"
                    />
                </sidebar-item>

                <!-- <sidebar-item
                    v-if="$route.meta.rtlActive"
                    :link="{
                        name: 'الجداول',
                        icon: 'content_paste',
                        path: '/components/table',
                    }"
                />
                <sidebar-item
                    :link="{
                        name: 'Table Lists',
                        icon: 'content_paste',
                        path: '/components/table',
                    }"
                />

                <sidebar-item
                    v-if="$route.meta.rtlActive"
                    :link="{
                        name: 'طباعة',
                        icon: 'library_books',
                        path: '/components/typography',
                    }"
                />
                <sidebar-item
                    v-else
                    :link="{
                        name: 'Typography',
                        icon: 'library_books',
                        path: '/components/typography',
                    }"
                />

                <sidebar-item
                    v-if="$route.meta.rtlActive"
                    :link="{
                        name: 'الرموز',
                        icon: 'bubble_chart',
                        path: '/components/icons',
                    }"
                />
                <sidebar-item
                    v-else
                    :link="{
                        name: 'Icons',
                        icon: 'bubble_chart',
                        path: '/components/icons',
                    }"
                />

                <sidebar-item
                    v-if="$route.meta.rtlActive"
                    :link="{
                        name: 'خرائط جوجل',
                        icon: 'place',
                        path: '/components/maps',
                    }"
                />
                <sidebar-item
                    v-else
                    :link="{
                        name: 'Maps',
                        icon: 'place',
                        path: '/components/maps',
                    }"
                />

                <sidebar-item
                    v-if="$route.meta.rtlActive"
                    :link="{
                        name: 'إخطارات',
                        icon: 'notifications',
                        path: '/components/notifications',
                    }"
                />
                <sidebar-item
                    v-else
                    :link="{
                        name: 'Notifications',
                        icon: 'notifications',
                        path: '/components/notifications',
                    }"
                />

                <sidebar-item
                    v-if="$route.meta.rtlActive"
                    :link="{
                        name: 'دعم رتل',
                        icon: 'language',
                        path: '/components/rtl',
                    }"
                />
                 -->
                <!-- <sidebar-item
                    :link="{
                        name: 'RTL Support',
                        icon: 'language',
                        path: '/components/rtl',
                    }"
                /> -->
            </template>

            <div style="width: 100%; position: absolute; bottom: 0; padding: 16px">
                <md-button
                    v-if="sidebarMini"
                    class="md-button md-danger md-block"
                    href="https://www.creative-tim.com/product/vue-material-dashboard-laravel-pro-bs4"
                    target="_blanck"
                >
                    <i class="fas fa-download" style="margin-right: 4px"></i>Upgrade to PRO
                </md-button>
            </div>
        </side-bar>

        <div class="main-panel">
            <top-navbar></top-navbar>

            <fixed-plugin
                :color.sync="sidebarBackground"
                :colorBg.sync="sidebarBackgroundColor"
                :sidebarMini.sync="sidebarMini"
                :sidebarImg.sync="sidebarImg"
                :image.sync="sidebarBackgroundImage"
            >
            </fixed-plugin>

            <div :class="{ content: !$route.meta.hideContent }">
                <zoom-center-transition :duration="200" mode="out-in">
                    <!-- your content here -->
                    <router-view />
                </zoom-center-transition>
            </div>
            <content-footer v-if="!$route.meta.hideFooter"></content-footer>
        </div>
    </div>
</template>
<script>
/* eslint-disable no-new */
import PerfectScrollbar from "perfect-scrollbar";
import "perfect-scrollbar/css/perfect-scrollbar.css";

function hasElement(className) {
    return document.getElementsByClassName(className).length > 0;
}

function initScrollbar(className) {
    if (hasElement(className)) {
        new PerfectScrollbar(`.${className}`);
        document.getElementsByClassName(className)[0].scrollTop = 0;
    } else {
        // try to init it later in case this component is loaded async
        setTimeout(() => {
            initScrollbar(className);
        }, 100);
    }
}

function reinitScrollbar() {
    let docClasses = document.body.classList;
    let isWindows = navigator.platform.startsWith("Win");
    if (isWindows) {
        // if we are on windows OS we activate the perfectScrollbar function
        initScrollbar("sidebar");
        initScrollbar("sidebar-wrapper");
        initScrollbar("main-panel");

        docClasses.add("perfect-scrollbar-on");
    } else {
        docClasses.add("perfect-scrollbar-off");
    }
}

import TopNavbar from "./TopNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import MobileMenu from "./Extra/MobileMenu.vue";
import FixedPlugin from "../../FixedPlugin.vue";
import UserMenu from "./Extra/UserMenu.vue";

import { mapGetters } from "vuex";

export default {
    components: {
        TopNavbar,
        ContentFooter,
        FixedPlugin,
        MobileMenu,
        UserMenu,
    },
    data() {
        return {
            sidebarBackgroundColor: "black",
            sidebarBackground: "green",
            sidebarBackgroundImage: process.env.VUE_APP_BASE_URL + "/img/sidebar-2.jpg",
            sidebarMini: false,
            sidebarImg: true,
            image: process.env.VUE_APP_BASE_URL + "/img/laravel-vue.svg",
        };
    },

    computed: {
        ...mapGetters(["getMenu"]),
    },

    methods: {
        toggleSidebar() {
            if (this.$sidebar.showSidebar) {
                this.$sidebar.displaySidebar(false);
            }
        },
        minimizeSidebar() {
            if (this.$sidebar) {
                this.$sidebar.toggleMinimize();
            }
        },
    },
    updated() {
        reinitScrollbar();
    },
    mounted() {
        reinitScrollbar();
    },
    watch: {
        sidebarMini() {
            this.minimizeSidebar();
        },
    },
};
</script>
<style lang="scss">
$scaleSize: 0.95;
@keyframes zoomIn95 {
    from {
        opacity: 0;
        transform: scale3d($scaleSize, $scaleSize, $scaleSize);
    }
    to {
        opacity: 1;
    }
}
.main-panel .zoomIn {
    animation-name: zoomIn95;
}
@keyframes zoomOut95 {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: scale3d($scaleSize, $scaleSize, $scaleSize);
    }
}
.main-panel .zoomOut {
    animation-name: zoomOut95;
}
</style>
